*
{
    margin: 0px;
}

.console_container
{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    
    font-family:courier, "courier new", monospace;
    font-size:1em;


    //opacity:0.4;
    //filter:alpha(opacity=40);

    color: #0f0;
}

.console_input
{
    width: 99%;

    display: block;

    position: fixed;
    bottom: 0px;

    background-color: #444;
    color: #0f0;

    font-family:courier, "courier new", monospace;
    font-size:1em;

    font-weight: bold;

}

.console_text
{
    height: 100%;
    
    margin-bottom: 50px;
    background-color: #111;
    color: #0f0;

    font-family:courier, "courier new", monospace;
    font-size:1em;

    overflow-y: scroll;
}